{% extends "base.twig" %}

{% block content %}
	{% if post.get_field('portfolio_brand') %}
		{% set color = post.get_field('portfolio_brand') %}
		{% set style = "style=background-color:" ~  color  %}
	{% endif %}

	<div class="c-hero js-hero" style="background-image: url( {{TimberImage(post).src('hero') }} )">
		<div class="o-overlay"></div>

		<div class="o-layout-container">
			<div class="c-featured__content">
				<h1 class="c-featured__title">{{post.title}}</h1>
			</div>
		</div>
	</div>

		<article class="post-type-{{post.post_type}} c-article" id="post-{{post.ID}}">
			<div class="o-layout-container">

			<div class="c-article__wrapper">

				<div class="c-article__feature">
					{{post.get_field('portfolio_project_features')}}
				</div>

				<!-- <p class="c-article__author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
				</p> -->
				<div class="c-article__summary">
					{{post.content}}
				</div>

			</div>
		</div>

		<div class="c-article__image">
			<div class="o-layout-container">
				{% for image in post.get_field('portfolio_images') %}
					<img src="{{TimberImage(image).src('hero')}}" alt="{{TimberImage(image).alt}}">
				{% endfor %}
			</div>
		</div>

		<div class="c-btn__wrapper">
			<a class="c-btn" href="{{post.get_field('portfolio_web_address')}}">View Site</a>
		</div>

			</article>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
