{% extends "base.twig" %}
{% block content %}
<div class="c-portfolio">

	<h1 class="c-portfolio__heading">We have built some stuff<br> and we&#39;re pretty proud</h1>
	{% for work in portfolio %}

		<div class="c-featured__single">
			<img src ="{{TimberImage(work).src('portfolio')}}" alt="{{TimberImage(work).alt}}">
				<div class="c-featured__box">
					<a class="c-featured__link" href="{{work.link}}">

						<div class="c-featured__content">
								<p class="c-feauted__type">{{work.portfolio_project_type}}</p>
								<h3 class="c-featured__title">{{work.post_title}}</h3>
							<!-- <div class="c-featured__info">
								<p>{{work.post_excerpt}}</p>
							</div> -->
						</div>
					</a>
				</div>

				<div class="c-featured__mobile">
					<p class="c-feauted__type">{{work.portfolio_project_type}}</p>
					<h3 class="c-featured__title">{{work.post_title}}</h3>
				</div>

		</div>

	{% endfor %}

</div>
{% endblock %}
